<h3>Search for a key term, separating every term by comma</h3>

<form method="get" action="">
    <input type="text" placeholder="Search..." name="search">
    <br>
    <input type="submit" value="submit">
</form>

<div id="footer">
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
</div>