/*bootstrap stuff*/

#header {
    color: green;
    height: fit-content;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    margin: 0;
}

.cover-heading{
    color: white;
}

#middle{
    padding-top: 15%;
    padding-bottom: 10%;
    background: url('../img/Landing.jpg');
}

input {
    margin-top: 15px;
}

.media{
    opacity: .75;
}

.media:hover{
    opacity: 1.0;
    background-color: white;
}

footer {
    background-color: white;
}